In [6]:
from Evaluate_Given_Models import evaluate_models
import numpy as np

In [2]:
test_data_path = './historical/data/'
test_model_dir = './trained_model_parameters/models_tobe_evaluated/'
test_current_model_path = './trained_model_parameters/latest_model/'

In [3]:
df = evaluate_models(test_data_path, test_model_dir, test_current_model_path)
#df.sort_values('Samples')

Evaluation of model_2024-07-31 (36 days)...... is done.
Evaluation of model_2024-07-31_mystic (36 days)...... is done.
Evaluation of model_2024-07-31_NP (36 days)...... is done.
Evaluation of model_2024-07-31_PNPS (36 days)...... is done.
Evaluation of model_2024-08-05 (36 days)...... is done.
Evaluation of model_2024-08-05_NP (36 days)...... is done.
Evaluation of model_2024-08-05_PNPS (36 days)...... is done.
Evaluation of Current (36 days)...... is done.
Evaluation of model_2024-07-31 (41 days)...... is done.
Evaluation of model_2024-07-31_mystic (41 days)...... is done.
Evaluation of model_2024-07-31_NP (41 days)...... is done.
Evaluation of model_2024-07-31_PNPS (41 days)...... is done.
Evaluation of model_2024-07-31 (11 days)...... is done.
Evaluation of model_2024-07-31_mystic (11 days)...... is done.
Evaluation of model_2024-07-31_NP (11 days)...... is done.
Evaluation of model_2024-07-31_PNPS (11 days)...... is done.
Evaluation of model_2024-08-05 (11 days)...... is done.
Evaluation of model_2024-08-05_NP (11 days)...... is done.
Evaluation of model_2024-08-05_PNPS (11 days)...... is done.
Evaluation of model_2024-08-10 (11 days)...... is done.
Evaluation of model_2024-08-10_NP (11 days)...... is done.
Evaluation of model_2024-08-10_PNPS (11 days)...... is done.
Evaluation of model_2024-08-15 (11 days)...... is done.
Evaluation of model_2024-08-15_NP (11 days)...... is done.
Evaluation of model_2024-08-15_PNPS (11 days)...... is done.
Evaluation of model_2024-08-20 (11 days)...... is done.
Evaluation of model_2024-08-20_NP (11 days)...... is done.
Evaluation of model_2024-08-20_PNPS (11 days)...... is done.
Evaluation of model_2024-08-25 (11 days)...... is done.
Evaluation of model_2024-08-25_NP (11 days)...... is done.
Evaluation of model_2024-08-25_PNPS (11 days)...... is done.
Evaluation of model_2024-08-30 (11 days)...... is done.
Evaluation of model_2024-08-30_NP (11 days)...... is done.
Evaluation of model_2024-08-30_PNPS (11 days)...... is done.
Evaluation of Current (11 days)...... is done.
Evaluation of model_2024-07-31 (16 days)...... is done.
Evaluation of model_2024-07-31_mystic (16 days)...... is done.
Evaluation of model_2024-07-31_NP (16 days)...... is done.
Evaluation of model_2024-07-31_PNPS (16 days)...... is done.
Evaluation of model_2024-08-05 (16 days)...... is done.
Evaluation of model_2024-08-05_NP (16 days)...... is done.
Evaluation of model_2024-08-05_PNPS (16 days)...... is done.
Evaluation of model_2024-08-10 (16 days)...... is done.
Evaluation of model_2024-08-10_NP (16 days)...... is done.
Evaluation of model_2024-08-10_PNPS (16 days)...... is done.
Evaluation of model_2024-08-15 (16 days)...... is done.
Evaluation of model_2024-08-15_NP (16 days)...... is done.
Evaluation of model_2024-08-15_PNPS (16 days)...... is done.
Evaluation of model_2024-08-20 (16 days)...... is done.
Evaluation of model_2024-08-20_NP (16 days)...... is done.
Evaluation of model_2024-08-20_PNPS (16 days)...... is done.
Evaluation of model_2024-08-25 (16 days)...... is done.
Evaluation of model_2024-08-25_NP (16 days)...... is done.
Evaluation of model_2024-08-25_PNPS (16 days)...... is done.
Evaluation of Current (16 days)...... is done.
Evaluation of model_2024-07-31 (21 days)...... is done.
Evaluation of model_2024-07-31_mystic (21 days)...... is done.
Evaluation of model_2024-07-31_NP (21 days)...... is done.
Evaluation of model_2024-07-31_PNPS (21 days)...... is done.
Evaluation of model_2024-08-05 (21 days)...... is done.
Evaluation of model_2024-08-05_NP (21 days)...... is done.
Evaluation of model_2024-08-05_PNPS (21 days)...... is done.
Evaluation of model_2024-08-10 (21 days)...... is done.
Evaluation of model_2024-08-10_NP (21 days)...... is done.
Evaluation of model_2024-08-10_PNPS (21 days)...... is done.
Evaluation of model_2024-08-15 (21 days)...... is done.
Evaluation of model_2024-08-15_NP (21 days)...... is done.
Evaluation of model_2024-08-15_PNPS (21 days)...... is done.
Evaluation of model_2024-08-20 (21 days)...... is done.
Evaluation of model_2024-08-20_NP (21 days)...... is done.
Evaluation of model_2024-08-20_PNPS (21 days)...... is done.
Evaluation of Current (21 days)...... is done.
Evaluation of model_2024-07-31 (26 days)...... is done.
Evaluation of model_2024-07-31_mystic (26 days)...... is done.
Evaluation of model_2024-07-31_NP (26 days)...... is done.
Evaluation of model_2024-07-31_PNPS (26 days)...... is done.
Evaluation of model_2024-08-05 (26 days)...... is done.
Evaluation of model_2024-08-05_NP (26 days)...... is done.
Evaluation of model_2024-08-05_PNPS (26 days)...... is done.
Evaluation of model_2024-08-10 (26 days)...... is done.
Evaluation of model_2024-08-10_NP (26 days)...... is done.
Evaluation of model_2024-08-10_PNPS (26 days)...... is done.
Evaluation of model_2024-08-15 (26 days)...... is done.
Evaluation of model_2024-08-15_NP (26 days)...... is done.
Evaluation of model_2024-08-15_PNPS (26 days)...... is done.
Evaluation of Current (26 days)...... is done.
Evaluation of model_2024-07-31 (31 days)...... is done.
Evaluation of model_2024-07-31_mystic (31 days)...... is done.
Evaluation of model_2024-07-31_NP (31 days)...... is done.
Evaluation of model_2024-07-31_PNPS (31 days)...... is done.
Evaluation of model_2024-08-05 (31 days)...... is done.
Evaluation of model_2024-08-05_NP (31 days)...... is done.
Evaluation of model_2024-08-05_PNPS (31 days)...... is done.
Evaluation of model_2024-08-10 (31 days)...... is done.
Evaluation of model_2024-08-10_NP (31 days)...... is done.
Evaluation of model_2024-08-10_PNPS (31 days)...... is done.
Evaluation of Current (31 days)...... is done.

In [9]:
G = df.groupby('Samples')
for group in G:
    print(f'{group[0]} samples')
    this_df = group[1].copy()
    this_df['Score'] = 0
    for y_f in ['風力', '太陽能' ,'尖峰負載']:
        this_maes = this_df[f'{y_f}_MAE']
        this_score = - (this_maes - np.mean(this_maes)) / np.std(this_maes)
        this_df['Score'] += this_score
    #display(group[1].sort_values('太陽能_MAE', ascending=True).reset_index(drop=True))
    display(this_df.sort_values('Score', ascending=False).reset_index(drop=True))

10 samples

,風力_MAE,太陽能_MAE,尖峰負載_MAE,Model,Samples,Score
0,33.560571,130.365649,66.122006,model_2024-08-15_NP,10,2.355264
1,37.032313,129.468435,52.846119,model_2024-08-05_NP,10,1.953476
2,37.032313,129.468435,52.846119,Current,10,1.953476
3,35.202631,136.412036,57.761996,model_2024-08-05,10,1.473894
4,36.066245,139.521345,49.467880,model_2024-08-05_PNPS,10,1.424819
5,34.899132,129.661072,71.443089,model_2024-08-20_NP,10,1.166962
6,34.697815,131.307001,72.037948,model_2024-08-10_NP,10,0.984927
7,33.552334,141.173481,70.204428,model_2024-08-15_PNPS,10,0.420546
8,33.108111,141.158863,74.850595,model_2024-08-15,10,0.184147
9,39.026022,136.695731,51.241640,model_2024-08-30_PNPS,10,0.012248
10,35.629437,138.431417,67.350082,model_2024-08-25,10,-0.038818
11,39.047760,127.888122,64.054599,model_2024-07-31_NP,10,-0.094715
12,37.534042,135.178141,62.576376,model_2024-07-31,10,-0.132577
13,33.755647,141.370113,75.421810,model_2024-08-10,10,-0.260209
14,35.497266,142.410595,65.556259,model_2024-08-20,10,-0.338021
15,36.520410,134.190767,71.914608,model_2024-08-25_PNPS,10,-0.407074
16,39.136421,140.090092,53.054818,model_2024-08-30_NP,10,-0.712522
17,37.352365,133.621694,72.083944,model_2024-08-25_NP,10,-0.801526
18,38.223136,138.909239,61.564315,model_2024-07-31_PNPS,10,-0.928946
19,33.922473,147.953540,73.672543,model_2024-08-10_PNPS,10,-1.093327
20,37.776521,140.136896,67.703573,model_2024-08-20_PNPS,10,-1.493212
21,36.336186,161.332596,59.101767,model_2024-08-30,10,-2.781751
22,36.349420,138.480005,90.530648,model_2024-07-31_mystic,10,-2.847061

15 samples

,風力_MAE,太陽能_MAE,尖峰負載_MAE,Model,Samples,Score
0,28.186902,118.186239,81.389680,Current,15,2.325294
1,28.186902,118.186239,81.389680,model_2024-08-05_NP,15,2.325294
2,27.360893,121.872054,80.397759,model_2024-08-05_PNPS,15,2.263465
3,24.382990,121.956115,95.414213,model_2024-08-15_NP,15,2.120229
4,26.435762,119.866848,93.184624,model_2024-08-25,15,1.615740
5,26.354678,121.824056,90.952641,model_2024-08-05,15,1.586957
6,28.083433,112.280365,101.263432,model_2024-08-25_NP,15,1.065477
7,26.275403,119.050252,102.701713,model_2024-08-10_NP,15,0.729525
8,24.965930,126.919469,99.986007,model_2024-08-15_PNPS,15,0.419277
9,24.582597,128.415665,99.621538,model_2024-08-10_PNPS,15,0.415964
10,26.260934,120.881705,104.463734,model_2024-08-20_NP,15,0.218587
11,27.668096,118.142739,101.893754,model_2024-08-25_PNPS,15,0.217748
12,24.616686,128.381968,102.714474,model_2024-08-15,15,0.041274
13,25.864062,125.410794,105.287195,model_2024-08-10,15,-0.434165
14,27.863304,125.093894,99.273019,model_2024-08-20_PNPS,15,-0.769313
15,26.660921,130.067560,99.335031,model_2024-08-20,15,-0.968608
16,30.783819,127.565476,98.000704,model_2024-07-31_NP,15,-2.638875
17,28.740189,135.318743,96.912814,model_2024-07-31,15,-2.718452
18,31.137256,134.623348,96.161740,model_2024-07-31_PNPS,15,-3.822099
19,28.350433,130.485698,116.686951,model_2024-07-31_mystic,15,-3.993320

20 samples

,風力_MAE,太陽能_MAE,尖峰負載_MAE,Model,Samples,Score
0,27.089369,127.354820,67.156380,model_2024-08-05_PNPS,20,2.529702
1,28.538537,112.863182,67.749794,Current,20,2.475500
2,28.538537,112.863182,67.749794,model_2024-08-05_NP,20,2.475500
3,26.439496,115.855409,77.386636,model_2024-08-15_NP,20,2.226716
4,25.685231,114.779379,84.252409,model_2024-08-10_NP,20,1.831712
5,24.638895,131.204423,82.699959,model_2024-08-10_PNPS,20,1.687401
6,26.886584,129.218377,80.284522,model_2024-08-15_PNPS,20,0.907394
7,26.824541,149.689772,75.419325,model_2024-08-05,20,0.434987
8,25.332082,155.400638,85.225712,model_2024-08-10,20,-0.302450
9,26.563251,157.342550,82.401161,model_2024-08-15,20,-0.707528
10,30.117061,125.280605,81.521220,model_2024-07-31_NP,20,-0.739036
11,30.328707,115.951517,87.732254,model_2024-08-20_NP,20,-1.116034
12,30.969216,132.909804,81.340291,model_2024-08-20_PNPS,20,-1.579867
13,28.386411,167.327912,78.659657,model_2024-07-31,20,-1.747158
14,30.796256,138.041458,83.581352,model_2024-07-31_PNPS,20,-2.044425
15,29.355133,160.358589,80.103574,model_2024-08-20,20,-2.060490
16,28.421554,160.543105,101.825736,model_2024-07-31_mystic,20,-4.271923

25 samples

,風力_MAE,太陽能_MAE,尖峰負載_MAE,Model,Samples,Score
0,28.144852,130.323727,84.102259,model_2024-08-15_NP,25,2.258117
1,27.362523,130.436535,90.516186,model_2024-08-10_NP,25,1.804683
2,30.193892,129.743987,79.005589,model_2024-08-05_NP,25,1.665860
3,30.193892,129.743987,79.005589,Current,25,1.665860
4,28.376181,139.815603,79.021873,model_2024-08-05_PNPS,25,1.487175
5,27.655231,140.416977,82.360823,model_2024-08-05,25,1.396510
6,26.528141,143.354171,87.857959,model_2024-08-10_PNPS,25,0.917962
7,26.808226,142.210406,91.341304,model_2024-08-10,25,0.342849
8,28.238574,140.514711,87.661028,model_2024-08-15,25,0.138325
9,29.159858,140.335495,85.731125,model_2024-08-15_PNPS,25,-0.196237
10,28.741453,149.168684,85.549328,model_2024-07-31,25,-1.166464
11,30.696811,140.621731,88.753979,model_2024-07-31_NP,25,-1.812174
12,30.820820,148.601319,90.630054,model_2024-07-31_PNPS,25,-3.366593
13,30.228004,148.903652,104.444020,model_2024-07-31_mystic,25,-5.135876

30 samples

,風力_MAE,太陽能_MAE,尖峰負載_MAE,Model,Samples,Score
0,26.001311,119.035614,84.904345,model_2024-08-10_NP,30,2.473409
1,26.610921,134.741314,75.441715,model_2024-08-05_PNPS,30,2.350643
2,25.023584,136.943280,82.269291,model_2024-08-10_PNPS,30,2.057723
3,26.152784,149.692718,78.256362,model_2024-08-05,30,0.924469
4,28.440355,141.491382,76.689915,model_2024-08-05_NP,30,0.375162
5,28.440355,141.491382,76.689915,Current,30,0.375162
6,25.499531,152.254885,85.712117,model_2024-08-10,30,-0.116965
7,29.245642,129.625555,82.587418,model_2024-07-31_NP,30,-0.151538
8,27.873199,160.782664,80.876918,model_2024-07-31,30,-1.574189
9,29.492481,143.326323,84.843245,model_2024-07-31_PNPS,30,-1.841174
10,28.818741,159.100676,97.624140,model_2024-07-31_mystic,30,-4.872701

35 samples

,風力_MAE,太陽能_MAE,尖峰負載_MAE,Model,Samples,Score
0,25.385350,128.126799,74.802803,model_2024-08-05_PNPS,35,2.916903
1,24.777352,141.241577,76.648323,model_2024-08-05,35,1.524402
2,26.556414,133.505365,75.789933,model_2024-08-05_NP,35,1.375564
3,26.556414,133.505365,75.789933,Current,35,1.375564
4,28.855904,121.479938,80.471965,model_2024-07-31_NP,35,0.407408
5,28.806001,134.027107,81.838260,model_2024-07-31_PNPS,35,-1.203979
6,27.183296,147.612588,79.349858,model_2024-07-31,35,-1.234036
7,29.032905,149.581718,93.758052,model_2024-07-31_mystic,35,-5.161825

40 samples

,風力_MAE,太陽能_MAE,尖峰負載_MAE,Model,Samples,Score
0,28.159229,124.161620,87.732826,model_2024-07-31_NP,40,2.107245
1,27.150654,147.857344,86.542401,model_2024-07-31,40,1.673760
2,28.759062,144.689959,89.913063,model_2024-07-31_PNPS,40,-1.307949
3,28.055276,148.616894,103.375126,model_2024-07-31_mystic,40,-2.473056