In [1]:
from Evaluate_Given_Models import evalute_models

In [2]:
test_data_path = './historical/data/'
test_model_dir = './trained_model_parameters/models_tobe_evaluated/'
test_current_model_path = './trained_model_parameters/latest_model/'

In [3]:
df = evalute_models(test_data_path, test_model_dir, test_current_model_path)
#df.sort_values('Samples')

Evaluation of model_2024-07-31 (32 days)...... is done.
Evaluation of model_2024-07-31_mystic (32 days)...... is done.
Evaluation of model_2024-07-31_NP (32 days)...... is done.
Evaluation of model_2024-07-31_PNPS (32 days)...... is done.
Evaluation of model_2024-08-05 (32 days)...... is done.
Evaluation of model_2024-08-05_NP (32 days)...... is done.
Evaluation of model_2024-08-05_PNPS (32 days)...... is done.
Evaluation of model_2024-07-31 (37 days)...... is done.
Evaluation of model_2024-07-31_mystic (37 days)...... is done.
Evaluation of model_2024-07-31_NP (37 days)...... is done.
Evaluation of model_2024-07-31_PNPS (37 days)...... is done.
Evaluation of model_2024-07-31 (17 days)...... is done.
Evaluation of model_2024-07-31_mystic (17 days)...... is done.
Evaluation of model_2024-07-31_NP (17 days)...... is done.
Evaluation of model_2024-07-31_PNPS (17 days)...... is done.
Evaluation of model_2024-08-05 (17 days)...... is done.
Evaluation of model_2024-08-05_NP (17 days)...... is done.
Evaluation of model_2024-08-05_PNPS (17 days)...... is done.
Evaluation of model_2024-08-10 (17 days)...... is done.
Evaluation of model_2024-08-10_NP (17 days)...... is done.
Evaluation of model_2024-08-10_PNPS (17 days)...... is done.
Evaluation of model_2024-08-15 (17 days)...... is done.
Evaluation of model_2024-08-15_NP (17 days)...... is done.
Evaluation of model_2024-08-15_PNPS (17 days)...... is done.
Evaluation of model_2024-08-20 (17 days)...... is done.
Evaluation of model_2024-08-20_NP (17 days)...... is done.
Evaluation of model_2024-08-20_PNPS (17 days)...... is done.
Evaluation of Current (17 days)...... is done.
Evaluation of model_2024-07-31 (22 days)...... is done.
Evaluation of model_2024-07-31_mystic (22 days)...... is done.
Evaluation of model_2024-07-31_NP (22 days)...... is done.
Evaluation of model_2024-07-31_PNPS (22 days)...... is done.
Evaluation of model_2024-08-05 (22 days)...... is done.
Evaluation of model_2024-08-05_NP (22 days)...... is done.
Evaluation of model_2024-08-05_PNPS (22 days)...... is done.
Evaluation of model_2024-08-10 (22 days)...... is done.
Evaluation of model_2024-08-10_NP (22 days)...... is done.
Evaluation of model_2024-08-10_PNPS (22 days)...... is done.
Evaluation of model_2024-08-15 (22 days)...... is done.
Evaluation of model_2024-08-15_NP (22 days)...... is done.
Evaluation of model_2024-08-15_PNPS (22 days)...... is done.
Evaluation of Current (22 days)...... is done.
Evaluation of model_2024-07-31 (27 days)...... is done.
Evaluation of model_2024-07-31_mystic (27 days)...... is done.
Evaluation of model_2024-07-31_NP (27 days)...... is done.
Evaluation of model_2024-07-31_PNPS (27 days)...... is done.
Evaluation of model_2024-08-05 (27 days)...... is done.
Evaluation of model_2024-08-05_NP (27 days)...... is done.
Evaluation of model_2024-08-05_PNPS (27 days)...... is done.
Evaluation of model_2024-08-10 (27 days)...... is done.
Evaluation of model_2024-08-10_NP (27 days)...... is done.
Evaluation of model_2024-08-10_PNPS (27 days)...... is done.
Evaluation of Current (27 days)...... is done.

In [4]:
G = df.groupby('Samples')
for group in G:
    print(f'{group[0]} samples')
    display(group[1].sort_values('太陽能_MAE', ascending=True).reset_index(drop=True))

16 samples

       風力_MAE     太陽能_MAE    尖峰負載_MAE                    Model  Samples
0   26.716362  129.973286   88.928698      model_2024-08-05_NP       16
1   30.199904  133.116163  124.967950      model_2024-08-20_NP       16
2   26.550052  136.012301  110.945611                  Current       16
3   26.858420  136.793089   91.326952    model_2024-08-05_PNPS       16
4   26.384366  137.392935  115.364374      model_2024-08-15_NP       16
5   28.632217  142.134657  111.773630    model_2024-08-15_PNPS       16
6   26.784990  142.257060  113.490831      model_2024-08-10_NP       16
7   26.625182  143.024973  118.802392    model_2024-08-10_PNPS       16
8   31.207503  145.815404  120.723093    model_2024-08-20_PNPS       16
9   25.293768  146.976040  103.306116      model_2024-07-31_NP       16
10  25.739322  147.787777  111.816766    model_2024-07-31_PNPS       16
11  25.492753  195.165176  109.724886  model_2024-07-31_mystic       16
12  26.987151  216.597100  106.478082         model_2024-08-05       16
13  30.119447  218.021447  120.862955         model_2024-08-20       16
14  27.817697  218.225201  115.779962         model_2024-08-15       16
15  26.101493  220.897571  114.251833         model_2024-08-10       16
16  26.466841  228.595540  103.831476         model_2024-07-31       16

21 samples

       風力_MAE     太陽能_MAE    尖峰負載_MAE                    Model  Samples
0   29.601195  144.384048   92.342544      model_2024-08-05_NP       21
1   29.565684  147.463516   97.417881    model_2024-08-05_PNPS       21
2   28.283991  148.253277  109.628429                  Current       21
3   31.808754  150.011578  110.282412    model_2024-08-15_PNPS       21
4   29.515368  150.013361  112.686348      model_2024-08-15_NP       21
5   29.415203  153.243211  114.625715      model_2024-08-10_NP       21
6   29.329282  153.355911  116.418177    model_2024-08-10_PNPS       21
7   27.261335  157.179221  109.754592    model_2024-07-31_PNPS       21
8   27.678812  157.203086  105.980073      model_2024-07-31_NP       21
9   28.684248  173.614656  113.125668  model_2024-07-31_mystic       21
10  29.268411  186.350522  106.380196         model_2024-08-05       21
11  30.802935  186.464912  113.225783         model_2024-08-15       21
12  28.477997  187.316667  114.418614         model_2024-08-10       21
13  28.158473  192.453267  104.052443         model_2024-07-31       21

26 samples

       風力_MAE     太陽能_MAE    尖峰負載_MAE                    Model  Samples
0   27.094832  136.137027   85.658285      model_2024-08-05_NP       26
1   26.987524  141.250254   87.856821    model_2024-08-05_PNPS       26
2   26.067028  141.676428   98.521376                  Current       26
3   27.156217  145.367123  103.144842      model_2024-08-10_NP       26
4   26.883022  147.015613  104.382799    model_2024-08-10_PNPS       26
5   26.271256  149.395074   95.055539      model_2024-07-31_NP       26
6   25.692502  150.743953   99.851513    model_2024-07-31_PNPS       26
7   27.359862  180.719318  103.146853  model_2024-07-31_mystic       26
8   26.849615  195.958085   96.391156         model_2024-08-05       26
9   26.521865  197.404546  102.151509         model_2024-08-10       26
10  26.955778  202.863936   94.981753         model_2024-07-31       26

31 samples

      風力_MAE     太陽能_MAE   尖峰負載_MAE                    Model  Samples
0  25.649953  126.113949  82.049314      model_2024-08-05_NP       31
1  25.966848  130.807662  84.063058    model_2024-08-05_PNPS       31
2  26.198811  137.678291  89.960273      model_2024-07-31_NP       31
3  25.451051  139.170214  93.631561    model_2024-07-31_PNPS       31
4  27.777606  163.934274  98.192959  model_2024-07-31_mystic       31
5  25.731946  177.786722  90.351157         model_2024-08-05       31
6  26.335462  182.251483  89.770631         model_2024-07-31       31

36 samples

      風力_MAE     太陽能_MAE    尖峰負載_MAE                    Model  Samples
0  26.819400  163.667443  109.252635  model_2024-07-31_mystic       36
1  25.658076  164.974197  105.683448    model_2024-07-31_PNPS       36
2  25.768043  169.853123  101.151686      model_2024-07-31_NP       36
3  26.342777  188.059208  101.549791         model_2024-07-31       36