In [1]:
import pandas as pd

In [2]:
historical_power_data_path = '../data/power/'
downloaded_fn = historical_power_data_path + 'sys_dem_sup.csv'
target_fn = historical_power_data_path + 'power_generation_data.csv'

In [3]:
cols = ['日期', '尖峰容量', '尖峰負載', '備轉容量', '備轉率', '工業用電', '民生用電', '核一#1', '核一#2',
       '核二#1', '核二#2', '核三#1', '核三#2', '林口#1', '林口#2', '林口#3', '台中#1', '台中#2',
       '台中#3', '台中#4', '台中#5', '台中#6', '台中#7', '台中#8', '台中#9', '台中#10', '興達#1',
       '興達#2', '興達#3', '興達#4', '大林#1', '大林#2', '和平#1', '和平#2', '麥寮#1', '麥寮#2',
       '麥寮#3', '汽電共生', '大潭', '通霄', '興達', '南部', '大林', '海湖', '國光#1', '新桃#1',
       '星彰#1', '星元#1', '嘉惠#1', '豐德', '協和', '氣渦輪', '離島', '德基', '青山', '谷關', '天輪',
       '馬鞍', '萬大', '大觀', '鉅工', '碧海', '立霧', '龍澗', '卓蘭', '水里', '其他小水力', '大觀二',
       '明潭', '風力發電', '太陽能發電']

In [4]:
df = pd.read_csv(downloaded_fn, names = cols[1::] + ['Unknown'], header=None).reset_index().rename({'index': '日期'}, axis=1).drop('Unknown', axis=1)
df['日期'] = [f'{str(s)[0:4]}-{str(s)[4:6]}-{str(s)[6::]}' for s in df['日期']]

In [6]:
df[-10::]

,日期,尖峰容量,尖峰負載,備轉容量,備轉率,工業用電,民生用電,核一#1,核一#2,核二#1,...,碧海,立霧,龍澗,卓蘭,水里,其他小水力,大觀二,明潭,風力發電,太陽能發電
537,2024-06-21,46891,40633,6258,15.40,410.989,316.256,0,0,0,...,16.0,40.5,0.5,0.0,1.2,3.7,0.7,15.0,49.9,719.5
538,2024-06-22,45401,36444,8957,24.58,392.867,302.311,0,0,0,...,0.0,0.0,0.5,0.0,1.0,3.5,0.0,15.7,79.3,816.3
539,2024-06-23,46409,34387,12022,34.96,373.212,287.188,0,0,0,...,0.0,0.0,0.5,0.0,1.0,1.8,0.0,12.7,172.1,808.4
540,2024-06-24,47300,40548,6752,16.65,405.132,311.750,0,0,0,...,0.0,0.0,0.5,0.0,1.0,3.3,0.8,15.7,83.2,739.2
541,2024-06-25,45630,40475,5155,12.74,407.930,313.902,0,0,0,...,15.0,14.3,0.5,0.0,1.1,1.9,0.6,16.3,28.2,692.3
542,2024-06-26,46241,40287,5954,14.78,409.103,314.806,0,0,0,...,8.5,5.0,0.5,0.0,0.6,1.8,0.6,15.4,9.3,661.4
543,2024-06-27,46755,40413,6342,15.69,413.049,317.841,0,0,0,...,15.6,17.4,0.5,0.0,0.0,2.1,0.6,10.1,7.2,706.1
544,2024-06-28,47798,40575,7223,17.80,410.770,316.088,0,0,0,...,0.0,0.0,0.5,0.0,0.0,2.5,0.0,10.3,52.3,791.8
545,2024-06-29,47462,35099,12363,35.22,377.728,290.662,0,0,0,...,0.0,0.0,0.5,0.0,1.1,1.8,0.0,9.4,189.7,758.1
546,2024-06-30,38500,33740,4760,14.11,363.494,279.709,0,0,0,...,31.7,68.9,5.4,0.0,1.0,8.0,1.0,21.5,119.7,0.0

In [7]:
df.to_csv(target_fn, encoding='utf-8-sig', index=False)